@font-face {
    font-family: apex-legends;
    src: url("../assets/ApexMk2-Regular.otf");
}

@font-face {
    font-family: TT-Lakes;
    src: url("../assets/TTLakes-Regular.ttf");
}

@font-face {
    font-family: Duke-Fill;
    src: url("../assets/Duke\ Fill.otf");
}

@font-face {
    font-family: TT-Bold;
    src: url("../assets/TTLakes-Bold.ttf");
}

@font-face {
    font-family: TT-Med;
    src: url("../assets/TT\ Lakes\ Medium\ DEMO.otf");
}

body {
    margin: 0;
    padding-left: 150px;
    padding-right: 150px;
    padding: 0;
    font-family: 'apex-legends', sans-serif;
}


html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: black;
    align-items: center;
    color: white;
    display: flex;
    position: fixed;
    /* padding-right: 50px; */
    width: 100%;
    top: 0;
    justify-content: space-between;
    z-index: 1;
}

.navbar ul {
    margin: 0;
    padding: 5px;
    background: none;
    display: block;
    float: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
}

.navbar ul li a {
    padding-top: 20px;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ddd;
    letter-spacing: 0.15em;
    transition: .3s ease;
    background-color: transparent;
}

a {
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color: white;
    transition: .2s ease;
    background-color: transparent;
}

a:hover {
    transition: .2s ease;
    transform: scale(1.1);
    color: black;
}

.navbar ul li a:hover {
    display: block;
    color: red;
    transition: .3s ease;
    transform: scale(1.1);
    box-shadow: inset 0px 0px 5px #000;
}

.navbar ul li .dropdown {
    display: none;
}

.navbar ul li:hover .dropdown {
    display: inline-block;
    position: absolute;
    background: black;
    padding: 10px;
    z-index: 5;
}

.navbar ul li:hover .dropdown-img {
    transition: .2s ease;
    transform: rotate(180deg);
}

.navbar ul li:hover .dropdown li {
    display: block;
}

#toggle-nav {
    display: none;
    cursor: pointer;
    flex-direction: row;
}

.burger-icon {
    width: 25px;
    height: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}


.brand-logo {
    margin-left: -35px;
    margin-top: 5px;
    height: 85px;
    display: inline-block;
}

.logo {
    margin-top: 15px;
    margin-left: 20px;
    height: 55px;
    width: 85px;
    transition: .2s ease;
}

.logo:hover {
    transition: .2s ease;
    transform: scale(1.15);
}

.brand-logo a {
    background-color: transparent;
}

.dropdown-img {
    width: 20px;
    height: 13px;
    margin-left: 15px;
    transition: .2s ease;
}

.main-wrapper {
    margin-top: 88px;
}

.modes-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro-text h1{
    font-size: 85px;
    margin-top: 55px;
    text-align: center;
    font-family: "Duke-Fill";
}

.intro-text{
    display: flex;
    font-family: "TT-Lakes";
    font-size: 24px;
    flex-direction: column;
    margin: auto;
}

.container-modes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
    flex-wrap: wrap;
}

.box-modes{
    background: url("../assets/rightsect.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px;
    font-family: "TT-Lakes";
    height: 500px;
    color: white;
    width: 550px;
    text-align: center;
}

#modes{
    background: url("../assets/apex-section-bg-beige-texture-xl.jpg.adapt.1920w.jpg");
    background-size: cover;
}

.box-modes-1{
    background: url("../assets/leftsect.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px;
    font-family: "TT-Lakes";
    height: 500px;
    color: white;
    width: 550px;
    text-align: center;
}

.box-modes h1, .box-modes-1 h1{
    font-family: "Duke-Fill";
    font-size: 65px;
    margin-bottom: 35px;
}

.container{
    display: flex;
    background-color: red;
    justify-content: center;
    transition: .2s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.container:hover{
    display: flex;
    background-color: white;
    transition: .2s ease;
    transform: scale(1.15);
}

.box-modes p, .box-modes-1 p{
    display: flex;
    width: 70%;
    text-align: center;
    font-size: 25px;
}

.play-now-wrapper {
    background: url("../assets/apex-section-bg-saviors-season-play-for-free-blue-texture-xl.jpg.adapt.1920w\(cut\).jpg");
    height: 750px;
    background-size: cover;
    display: flex;
}

.play-now-main {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: "TT-Lakes";
    color: white;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.play-icon {
    width: 600px;
    height: 190px;
    margin: auto;
}

.play-now-main h1 {
    font-family: "Duke-Fill";
    font-size: 64px;
}

.container-6 {
    margin-top: 70px;
    margin-bottom: 100px;
    margin: auto;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    text-align: center;
    transition: .2s ease;
}

/* .container-6 a{
    padding-left: 65px;
    padding-right: 65px;
} */

.container-6:hover {
    background-color: white;
    transform: scale(1.1);
    transition: .2s ease;
    color: black;
}

.container-7 {
    margin: auto;
    margin-right: 100px;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    text-align: center;
    transition: .2s ease;
    font-family: "TT-Lakes";
    font-size: 15px;
}


.container-7:hover {
    background-color: white;
    transform: scale(1.1);
    transition: .2s ease;
    color: black;
}


.footer-wrapper {
    background-color: black;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-footer {
    font-size: 18px;
    padding-top: 50px;
    margin-left: 50px;
}

.nav-footer h1 {
    color: white;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 23px;
}

.nav-break {
    margin-left: 25px;
    width: 250px;
    height: 3px;
    background-color: white;
}

.nav-footer ul {
    margin: 0;
    padding: 5px;
    background: none;
    display: block;
    float: left;
}

.nav-footer ul li {
    list-style: none;
    display: inline-block;
}

.nav-footer ul li a {
    padding-top: 20px;
    display: block;
    text-decoration: none;
    padding: 18px;
    color: #ddd;
    letter-spacing: 0.15em;
    transition: .3s ease;
    background-color: transparent;
}

.nav-footer ul li a:hover {
    display: block;
    color: red;
    transition: .3s ease;
    transform: scale(1.1);
}

.nav-footer ul li .dropdown {
    display: none;
}

.nav-footer ul li:hover .dropdown {
    display: inline-block;
    position: absolute;
    background: black;
    padding: 2px;
    z-index: 5;
}

.nav-footer ul li:hover .dropdown-img {
    transition: .2s ease;
    transform: rotate(180deg);
}

.nav-footer ul li:hover .dropdown li {
    display: block;
}

.nav-footer-1 {
    margin-top: 50px;
    padding-top: 50px;
}

.nav-footer-1 ul {
    margin: 0;
    padding: 5px;
    background: none;
    display: block;
    float: left;
}

.nav-footer-1 ul li {
    list-style: none;
    display: inline-block;
}

.nav-footer-1 ul li a {
    padding-top: 20px;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ddd;
    letter-spacing: 0.15em;
    transition: .3s ease;
    background-color: transparent;
}

.nav-footer-1 ul li a:hover {
    display: block;
    color: red;
    transition: .3s ease;
    transform: scale(1.1);
}

.connect-with-us {
    padding-top: 70px;
    color: white;
    font-size: 20px;
}

.connect-with-us h1 {
    margin-top: 0;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
}

.connect-break {
    width: 150px;
    height: 3px;
    background-color: white;
    margin-left: 0px;
}


.social-media{
    display: flex;
    flex-direction: row;
}

.social-media a{
    padding-top: 15px;
    padding-right: 35px;
    padding-left: 0px;
    transform: scale(1.2);
}

.icon-socmed{
    width: 25px;
    height: 25px;
    transition: .2s ease;
}

.icon-yt{
    width: 32px;
    height: 23px;
    transition: .2s ease;
}

.icon-fb{
    width: 15px;
    height: 23px;
    transition: .2s ease;
}

.icon-socmed:hover, .social-media a:hover ,.icon-yt:hover, .icon-fb:hover{
    transition: .2s ease;
    transform: scale(1.2);
}

.rating-box{
    margin-top: 70px;
    transition: .2s ease;
}

.rating-box:hover{
    transform: scale(1.2);
    transition: .2s ease;
}

.copyright{
    text-align: center;
    color: white;
    margin-top: -22px;
}


@media screen and (max-width: 1200px){

    .intro-text{
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    .connect-with-us{
        margin-left: 45px;
    }

    .connect-with-us{
        margin-left: 55px;
    }

    .rating{
        display: flex;
        margin: auto;
        margin-top: 50px;
    }

    .rating a{
        padding: 0;
    }

    body, html{
        overflow-x: hidden;
    }

    .container-7{
        margin-right: 69px;
    }

    .rating-box{
        width: 210px;
        height: 130px;
    }
}


@media screen and (max-width: 800px){

    #navlist{
        display: none;
    }

    .heroes-wrapper{
        margin-top: 130px;
    }

    #toggle-nav{
        display: block;
        color: white;
    }

    .navbar{
        flex-direction: column;
    }

    .brand-logo{
        margin-left: -11px;
        margin-top: 0;
    }

    .intro-text{
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .footer-wrapper{
        padding-left: 15px;
    }

    .nav-footer h1{
        font-size: 42px;
    }

    .nav-footer{
        margin-left: 3px;
    }
    .connect-with-us{
        padding-left: 35px;
        padding-right: 35px;
    }

    .container-modes{
        margin: 10px;
    }

    .box-modes, .box-modes-1{
        margin: unset;
        margin-bottom: 65px;
    }

    .rating-box{
        display: none;
    }

    .rating{
        display: flex;
        margin: 15px;
    }

    .rating a{
        padding: 0;
    }

    .container-7{
        margin-right: 60px;
    }
}

@media screen and (max-width: 320px) {
    
    a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 15px;
    }


    .box-modes, .box-modes-1{
        margin: unset;
        margin-bottom: 65px;
    }

    
    .play-icon{
        width: 270px;
        height: 56px;
    }
    .play-now-main h1{
        margin-bottom: 25px;
    }

    .play-now-wrapper{
        height: 850px;
    }

    .container-6{
        padding-right: 50px;
        padding-left: 50px;
    }

    .nav-footer a{
        font-size: 13px;
    }

    .nav-footer h1{
        font-size: 25px;
    }

    .footer-wrapper{
        flex-direction: column;
        height: 605px;
    }

    .connect-with-us{
        padding-left: 0;
        padding-right: 0;
        margin-left: 25px;
    }

    .play-now-main{
        padding-left: 0px;
        padding-right: 0px;
    }

    .connect-with-us h1{
        font-size: 25px;
    }

    .container-7{
        display: block;
        padding: 1.2px;
        margin-bottom: 25px;
    }

}